@import url("https://fonts.google.com/specimen/Gemunu+Libre");
:root {
    --bg-color: rgb(255, 255, 255);
    --impcolor2: black;
    --typewriterSpeed: 2s;
    --typewriterCharacters: 320;
  }
  
  
  body{
    /* margin:0; */
     padding: 0vw;
  }
  nav{
    background-color: grey;
    opacity: 20;
    padding: 2px;
  }
/*hi nav starts*/
 .container{
  width: 100%;
  box-shadow: 0 1px 200px rgb(243, 243, 243) ;
  background-color: rgba(255, 255, 255, 0.877);
  z-index: 1000000;
  }
   /*have idea of changing above color if you change it white*/
  .container .menu li{
    list-style: none;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    /* user-select: none; */
  }
 
  .container .menu li a{
    color: rgb(0,0,0);
    font-family: cursive;
    transition: color 0.3s ease;
  }
  .container .menu li:hover a{
    color: var(--bg-color);
    background-color: var(--impcolor2);
    padding:10px 20px;
    border-radius: 12px;
  }
  img{
    width: 50px;
    float: right;
    padding: 5px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
/* 
  .container .menu .line{
    position: absolute;
    height: 5px;
    width: 20%;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
  } */

   .animation{
    place-content: center;
    height: max-content;
    text-align: center;
       
  }
   #title {
    font-size: clamp(0.5em, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Gemenu Libere";
    /* width: max-content; */
  }

  #title::before,
  #title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
  }
  
  #title::before {
      animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  #title::after {
    width: 0.125em;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
       steps(var(--typewriterCharacters)) infinite;
  }
  
  #subtitle {
    color: hsl(0 0% 0% / 0.7);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3px);
    animation: fadeInUp 3s ease forwards;
    }
    
  #btn{
      padding: 15px 32px;
      border-radius: 12px;
      cursor: pointer;
      animation: fadeInUp 5s ease forwards;
      border: transparent;
    }
    .btn{
      padding: 15px 32px;
      border-radius: 12px;
      cursor: pointer;
      animation: fadeInUp 5s ease forwards;
      border: transparent;
      background-color: white;
    }
    #href{
      text-decoration: none;
    }
  .btn:hover{
     background-color: var(--impcolor2);
     color: white;
     
  }  
  #activities{
    text-align: center;
    margin: 9%;
  }
  #activities h1{
    cursor: pointer;
  }
  #activities p{
    cursor: text;
  }
  .img-2{
    float: none;
  }
  #resume{
  text-align: center;
  }
  #contact{
    text-align: center;
  }
  @keyframes typewriter {
    100% {
      left: 99%;
    }
  }
  
  @keyframes fadeInUp {
    30% {  
      opacity: -064;
      transform: translateY(05px);
    }
    50%{
      opacity: 0;
      transform: translateY(05px);
    }
    100%{
      opacity: 04;
      transform: translateY(05px);
    }
  } 
  @keyframes transition {
    from{
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to{
      opacity: 1;
      transform: rotateX(0deg); 
    }
  }
@media only screen and (max-width: 525px) {
    .container .menu li {
      font-size: 15px;
    }
    img{
      width: 10px;
    }
  }